<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/location/all">Locations - View All</a> <br />

    <br />

    <a href="/organization/all">Organizations - View All</a> <br />

    <br />

    <a href="/launch_pad/all">Launch Pads - View All</a> <br />

    <br />

    <a href="/vehicle_model/all">Vehicle Models - View All</a> <br />

    <br />

    <a href="/vehicle/all">Vehicles - View All</a> <br />

    <br />

    <a href="/about">About This Website</a> <br />

    <br />

  </body>
</html>
