<%- include("../includes/header.ejs", {title:"About"}); %>
<h1>About</h1>
<body>

    The Purpose of RocketLaunchDB is to allow the storage and retrieval of information regarding rocket launches.
    Many aspects of a rocket launch needs to be recorded, such as the the rocket used, the organizations involved,
    The payloads riding the rockets, and the places from which we launch. Below you can access some of the design
    schematics of the database.
    <br />
    <br />
    <a href="./about/entity_relationship_diagram">Entity Relationship Diagram</a> <br />
    <a href="./about/relation_schema">Relation Schema</a> <br />
    <a href="./about/functional_dependancy_diagram">Functional Dependency Diagram</a> <br />
    <br />
    This Database and interface was designed and implemented by Ben Richardson, for the final project of
    <a href="http://www.cs.sonoma.edu/~haderman/cs355/"> Michael Haderman's CS355 class</a>. I chose this
    topic because of my long standing fascination with spaceflight. Hopefully, with further development, this
    database can become a useful tool for space enthusiasts, as no centralized launch manifest currently exists
    for public use.
    <br />
    <br />
    You can contact me at throwawayemail999@emailserver.domain.
    <br />
    <br />


<a href="/">Back</a>
</body>


<%- include("../includes/footer.ejs"); %>