<%- include("../includes/header.ejs", {title:"About"}); %>
<h1>About</h1>
<body>

<br />
<a href="./about/entity_relationship_diagram">Entity Relationship Diagram</a> <br />
<a href="./about/relation_schema">Relation Schema</a> <br />
<a href="./about/functional_dependancy_diagram">Functional Dependency Diagram</a> <br />
<br />
<a href="/">Back</a>
</body>


<%- include("../includes/footer.ejs"); %>